.heading-font {
  color: var(--color-heading);
}

.description-text {
  color: var(--color-description);
}

.sub-text {
  color: var(--color-subtext);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-secondary {
  background-color: var(--bg-secondary);
}

.action {
  background-color: var(--action--color);
}

.action-text {
  color: var(--action--color);
}

.action-hover:hover {
  color: var(--action--color);
}

.hover-color {
  background-color: var(--hoverColor);
}

.state-color {
  background-color: var(--state--color);
}

.state-color-text {
  color: var(--state--color);
}


/*********************************** THIN SCROLLBAR *************************************/

.thin-scrollbar::-webkit-scrollbar {
  width: 4px; /* 👈 thinner */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.5); /* gray-400 */
  border-radius: 9999px;
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(107, 114, 128, 0.7); /* darker on hover */
}